.cart {
  .cartDetail {
    overflow-x: auto;

    h4 {
      padding-bottom: 2rem;
    }

    table {
      min-width: 550px;
      border-collapse: collapse;
      table-layout: fixed;
      white-space: nowrap;
      text-align: center;

      thead {
        border: 1px solid $off-white;
        border-left: none;
        border-right: none;

        td {
          font-weight: 700;
          text-transform: uppercase;
          font-size: 0.789rem;
          padding: 1.11rem 0;
        }
      }

      tbody {
        tr {
          font-size: 0.879rem;

          td {
            padding-top: 1rem;
          }
        }
      }

      img {
        width: 70px;
      }

      td &:nth-child(1) {
        width: 100px;
        text-align: center;
      }

      td &:nth-child(2) {
        width: 150px;
        text-align: center;
      }

      td &:nth-child(3) {
        width: 250px;
        text-align: center;
      }

      td &:nth-child(4),
      td &:nth-child(5),
      td &:nth-child(6) {
        width: 150px;
        text-align: center;
      }

      td input {
        width: 70px;
        padding: 10px 5px 10px 15px;
      }
    }
  }
  .checkOut {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .coupon {
      width: 50%;
      margin-bottom: 1.89rem;

      h3 {
        padding-bottom: 1rem;
      }

      input {
        padding: 0.789rem 1.25rem;
        outline: none;
        width: 60%;
        margin-right: 0.789rem;
        border: 1px solid $off-white;
      }

      button {
        background-color: $green;
        color: $off-white;
        padding: 0.75rem 1.125rem;
      }
    }

    .subtotal {
      width: 50%;
      margin-bottom: 1.89rem;
      border: 1px solid $off-white;
      padding: 1.89rem;

      h3 {
        padding-bottom: 1rem;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1.25rem;

        td {
          width: 50%;
          border: 1px solid $off-white;
          padding: 0.67rem;
          font-size: 0.78rem;
        }
      }

      button {
        background-color: $green;
        color: $off-white;
      }
    }
  }
}

@media (max-width: 477px) {
  .cart {
    .checkOut {
      flex-direction: column;
      overflow-x: hidden !important;

      .coupon {
        width: 100% !important;
      }

      .subtotal {
        width: 100% !important;
        padding: 1.25rem !important;
      }
    }
  }
}
