.contact {
  .hero {
    background-image: url(../img/about/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 1rem;

    h2,
    p {
      color: $off-white;
      margin: 0 auto;
      padding-bottom: 1rem;
    }
  }

  .contactDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;

    .details {
      width: 40%;

      span {
        font-size: 0.75rem;
      }

      h2 {
        font-size: 1.8rem;
        line-height: 2.25rem;
        padding: 1.25rem 0;
      }

      h3 {
        font-size: 1rem;
        padding-bottom: 1rem;
      }

      li {
        list-style: none;
        display: flex;
        padding: 0.674rem;

        i {
          font-size: 0.89rem;
          padding-right: 1.5rem;
        }

        p {
          margin: 0;
          font-size: 0.89rem;
        }
      }
    }

    .map {
      width: 55%;
      height: 400px;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  .formDetails {
    display: flex;
    justify-content: space-between;
    margin: 1.9rem;
    padding: 5rem;
    border: 1px solid $off-white;

    form {
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input,
      textarea {
        width: 100%;
        padding: 0.75rem 1rem;
        outline: none;
        margin-bottom: 1.25rem;
        border: 1px solid $off-white;
      }

      button {
        background-color: $green;
        color: $off-white;
      }
    }

    .contactPeople {
      div {
        padding-bottom: 1.5rem;
        display: flex;
        align-items: flex-start;

        img {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          margin-right: 1rem;
        }

        p {
          margin: 0;
          font-size: 0.9rem;
          line-height: 1.5rem;

          span {
            display: block;
            font-size: 1rem;
            font-weight: 600;
            color: $dark;
          }
        }
      }
    }
  }
}

@media (max-width: 799px) {
  .contact {
    .formDetails {
      padding: 2.5rem;

      form {
        width: 50%;
      }
    }
  }
}

@media (max-width: 477px) {
  .contact {
    .contactDetails {
      flex-direction: column;
      padding: 1rem;

      .details {
        width: 100%;
        margin-bottom: 1.9rem;
      }

      .map {
        width: 100%;
      }
    }

    .formDetails {
      margin: 0.675rem;
      padding: 1.9rem 0.675rem;
      flex-wrap: wrap;

      form {
        width: 100%;
        padding-bottom: 2rem;
      }
    }
  }
}
