* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.125rem;
  line-height: 4rem;
  color: $dark;
}

h2 {
  font-size: 2.875rem;
  line-height: 2.775rem;
  color: $dark;
}

h4 {
  font-size: 1.25rem;
  color: $dark;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  color: $gray;
  margin: 1rem 0 1.25rem 0;
}

.section-p1 {
  padding: 2.5rem 5rem;
}

.section-m1 {
  margin: 2.5rem 0;
}

button.normal {
  font-size: 0.876rem;
  font-weight: 600;
  padding: 1rem 1.9rem;
  color: $dark;
  background-color: $off-white;
  border-radius: 0.24rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease;
}

button.bgNone {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.72rem 1.12rem;
  color: $green;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid $off-white;
  outline: none;
  transition: 0.3s ease;
}

@media (max-width: 477px) {
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 2.5rem;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 1.25rem;
  }
}
